@import './reset';

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    background: linear-gradient(135deg, #EEF2FF 0%, #FFFFFF 50%, #EEF2FF 100%);

}

header {
    margin-bottom: 20px;
    padding-top: 10px;
}

.container {
    max-width: 1052px;
    padding: 0 10px;
    margin: 0 auto;
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 25px 25px 25px;
    // background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 20px 25px -5px rgba(229, 231, 235, 0.5), 0px 8px 10px -6px rgba(229, 231, 235, 0.5);
    //backdrop-filter: blur(2px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(249, 250, 251, 0.7) 100%);
    //border: 1px solid #000;
}

.weather__header__icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__icon-cover {
    padding: 2px 5px;
    border-radius: 3px;
    transition: all .2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #6B7280;
}

/////////////////
.header__icon-cover.menu {
    position: relative;
}



.header__icon-cover.menu .settings {
    display: none;
    position: absolute;
    min-width: 100px;
    top: calc(100% + 4px);
    right: 0;
    color: #000;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    border-radius: 3px;
    background-color: #d2d2d2;
    z-index: 4;
}

// .header__icon-cover.menu .settings::before {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     top: -2px;
//     left: 0;
//     background-color: transparent;
// }

.header__icon-cover.menu .settings li {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 3px 4px;
    border-radius: 3px;
}




.header__icon-cover.menu .settings>li>span {
    margin-left: auto;
}

.header__icon-cover.menu .settings li:not(:last-child) {
    margin-bottom: 5px;
    user-select: none;
}

.header__icon-cover.menu .settings li i {
    padding-top: 1px;
    font-size: 8px;
}

.header__icon-cover.menu .settings li:hover {
    background-color: #fff;
}

.header__icon-cover.menu .settings>li:nth-child(2) {
    position: relative;
    user-select: none;
}

.header__icon-cover.menu .settings>li:nth-child(2) ul {
    display: none;
    position: absolute;
    right: calc(100% + 7px);
    top: 0;
    color: #000;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    border-radius: 3px;
    background-color: #d2d2d2;
    width: 80px;
}

.header__icon-cover.menu .settings>li:nth-child(2) ul::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 7px;
    right: -7px;
    top: 0;
    background-color: transparent;
}

.header__icon-cover.menu .settings>li:nth-child(2) ul li {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // user-select: none;
}


.header__icon-cover.menu .settings>li:nth-child(2) ul>li span {
    margin-right: auto;
}

// .header__icon-cover.menu:active>.settings,
// .header__icon-cover.menu:hover>.settings,
// .header__icon-cover.menu:focus>.settings {
//     // 1 menu
//     display: block;
// }

.header__icon-cover.menu .settings li:nth-child(2):active>.submenu // .header__icon-cover.menu .settings li:nth-child(2):hover>.submenu,

// .header__icon-cover.menu .settings li:nth-child(2):focus>.submenu 
    {
    // 2 submenu
    display: block;
}


///////////

// .header__icon-cover:nth-child(2) {
//     padding: 2px 6px;
// }

.header__icon-cover {
    padding: 2px 10px;
}



.header__icon-cover:active {
    background-color: #d2d2d231;
}

// .header__icon-cover img {
//     width: 16px;
//     height: auto;
// }

// .header__icon-cover:nth-of-type(2) img {
//     width: 20px;
//     height: auto;
// }

// .weather__header-top {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     width: 215px;
// }

.weather__header-top>h2 {
    font-weight: 700;
    font-size: 23px;
    color: #1E293B;
}

// .weather__search {
//     position: relative;
// }

// .weather__search label img {
//     width: 16px;
//     height: auto;
// }

// .weather__search label {
//     position: absolute;
//     top: 55%;
//     transform: translateY(-50%);
//     left: 4px;

// }

// .weather__search input {
//     padding: 5px 0px 5px 23px;
//     // border: 1px solid #00000016;
//     background-color: transparent;
//     border-radius: 4px;
//     color: #64748B;
//     font-weight: 400;
//     width: 100%;
// }

// .weather__search input::placeholder {
//     color: #64748B;
// }

.weather__temp {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: 0px 20px 25px -5px rgba(229, 231, 235, 0.5), 0px 8px 10px -6px rgba(229, 231, 235, 0.5);
    //backdrop-filter: blur(2px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(249, 250, 251, 0.7) 100%);
    //border: 1px solid #000;
    // margin-bottom: 25px;
}

.weather__feels-rain {
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
}

.weather__feels-rain img {
    width: 20px;
    height: auto;
    margin-right: 3px;
    margin-top: -2px;
}

.weather__feels-rain span {
    font-size: 11.5px;
    font-weight: 500;
    color: #64748B
}

.weather__feels-rain span:nth-of-type(1) {
    margin-right: 3px;
}

.weather__feels-rain span:nth-of-type(2) {
    margin-right: 3px;
    font-weight: 600;
}

.weather__city {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.weather__city img {
    width: 14px;
    height: auto;
}

.weather__city h2 {
    font-weight: 700;
    font-size: 30px;
    color: #1E293B;
}

.weather__forecast {
    display: flex;
    // align-items: center;
    gap: 2px;
    margin-bottom: 5px;
}







.weather__loader-udating {
    display: flex;
    align-items: center;
    gap: 1px;
}


.weather__loader-done {
    display: flex;
    align-items: center;
    gap: 1px;
}

.weather__loader-done {
    display: none;
}

.weather__loader.done .weather__loader-done {
    display: flex;
}

.weather__loader.done .weather__loader-udating {
    display: none;
}

.weather__loader {
    display: none;
    padding-top: 8px;
}


.weather__loader-udating img {
    padding: 2px 0px;
    width: 10px;
    height: 10px;
}

.weather__loader-done img {
    padding: 2px 0px;
    width: 10px;
    height: 10px;
}

.weather__loader-udating img {
    animation: shakeX 1.2s infinite;
}


@keyframes shakeX {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(1px);
    }

    75% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0);
    }
}

.weather__loader span {
    font-size: 10px;
    font-weight: 300;
    color: #1E293B;
}

.weather__forecast>span {
    color: #F97316;
    font-size: 32px;
    font-weight: 900;
    margin-top: 26px;
}

.weather__forecast-temp {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-height: 96px;
}

// .weather__units {
//     padding-top: 20px;
//     display: flex;
//     align-items: center;
// }

// .weather__units button {
//     font-size: 23px;
//     cursor: pointer;
//     color: #475569;
//     background-color: transparent;
//     transition: all .2s;
//     border-radius: 3px;
//     padding: 0px 2px;
//     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

// .weather__units button:nth-child(1) {
//     margin-right: 5px;
// }

// .weather__units span {
//     margin-right: 3px;
//     color: #475569;
// }



h1 {
    font-size: 66.5px;
    line-height: 72px;
    color: #F97316;
    font-weight: 500;
    margin-top: auto;
}

.weather__units button:active {
    background-color: #d2d2d231;
}

.weather__units button.active {
    background-color: #d2d2d231;
}

.weather__info {
    display: flex;
    // justify-content: space-between;
    gap: 5px;
}

.weather__sky {
    padding-top: 50px;
    font-size: 19px;
    color: #475569;
    font-weight: 500;
}

.weather__feels {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.weather__feels img {
    width: 5.5px;
    height: auto;
    padding-top: 2.5px;
}

.weather__feels span {
    font-size: 13.5px;
    font-weight: 500;
    color: #64748B;
}

.weather__status {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.weather__status>img {
    width: 67px;
    height: auto;
}

.weather__status time {
    font-size: 11.5px;
    color: #475569;
}

.weather__daily {
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: 0px 20px 25px -5px rgba(229, 231, 235, 0.5), 0px 8px 10px -6px rgba(229, 231, 235, 0.5);
    //backdrop-filter: blur(2px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(249, 250, 251, 0.7) 100%);
    //border: 1px solid #000;
    // margin-bottom: 25px;
}

.weather__daily-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.weather__daily-history {
    font-weight: 700;
    font-size: 20px;
    color: #1E293B;
}

.weather__overview {
    font-size: 12px;
    color: #1D4ED8;
    padding: 4px 12px;
    border-radius: 99px;
    background-color: #DBEAFE;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.weather__daily-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    min-height: 62px;
    cursor: pointer;
    padding: 0px 5px;
    border-radius: 16px;
    border: 1px solid transparent;
    transition: background-color .1s ease-in-out;

    // background: rgba(59, 130, 246, 0.1);
    // border: 1px solid rgba(59, 130, 246, 0.2);
}

.weather__daily-item:active {
    background: rgba(59, 130, 246, 0.1);
    border: 1px solid rgba(59, 130, 246, 0.2);
}

.active {
    background: rgba(59, 130, 246, 0.1);
    border: 1px solid rgba(59, 130, 246, 0.2);
}

.weather__daily-item:not(:last-child) {
    margin-bottom: 4px;
}

.weather__daily-day {
    font-weight: 700;
    font-size: 15.5px;
    color: #475569;
    text-transform: capitalize;
    min-width: 60px;
    text-align: left;
}

.weather__daily-status {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 11.5px;
    color: #64748B;
    width: 240px;
    max-width: 100%;
    justify-content: left;
}

.weather__daily-status>img {
    width: 24px;
    height: auto;
}

.weather__daily-temp {
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: 91px;
}

.weather__temp-direction {
    margin-right: 4px;
}

.weather__temp-degree {
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #1E293B;
}

.weather__temp-feels {
    font-weight: 400;
    font-size: 16px;
    color: #64748B;
}


.weather__details {
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: 0px 20px 25px -5px rgba(229, 231, 235, 0.5), 0px 8px 10px -6px rgba(229, 231, 235, 0.5);
    //backdrop-filter: blur(2px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(249, 250, 251, 0.7) 100%);
    font-family: "Inter", sans-serif;
    //border: 1px solid #000;
    // margin-bottom: 25px;
}


.weather__details-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
}

.weather__details-header img {
    width: 17px;
    height: auto;
}

.weather__details-header h3 {
    font-weight: 700;
    font-size: 20px;
    color: #1E293B;
    text-transform: capitalize;
}

.weather__details-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 17px;
    margin-bottom: 29px;
}

.weather__details-item:last-child {
    margin-bottom: 0px;
}

.weather__details-item .details__decore {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 8px;
    border-radius: 99px;
    background-color: #E5E7EB;
}

.details__item-cover {
    display: flex;
    align-items: center;
    gap: 12px;
}

.details__item-cover img {
    width: 36px;
    height: 36px;
}

.details__item-cover span {
    font-weight: 400;
    font-size: 15px;
    color: #475569;
}

.weather__details-item .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.weather__details-item .details span:nth-child(1) {
    font-weight: 700;
    font-size: 17px;
    color: #1E293B;
}

.weather__details-item .details .status {
    font-weight: 400;
    font-size: 11.5px;
    color: #22C55E;
    letter-spacing: .04rem;
}


.weather__tips {
    font-family: "Inter", sans-serif;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 0px 20px 25px -5px rgba(229, 231, 235, 0.5), 0px 8px 10px -6px rgba(229, 231, 235, 0.5);
    //backdrop-filter: blur(2px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(249, 250, 251, 0.7) 100%);
    //border: 1px solid #000;
}

.weather__tips-title {
    font-weight: 700;
    font-size: 20px;
    color: #1E293B;
    padding-bottom: 20px;
}

.weather__tips-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.weather__tips-body>img {
    width: 40px;
    height: auto;
}

.weather__tips-body p {
    font-weight: 400;
    font-size: 15px;
    color: #475569;
    text-align: center;
}

main {
    padding-bottom: 10px;
}

.container__inner {
    display: flex;
    gap: 20px;
}

.container__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 100%;
}

.container__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 280px;
}


.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #EEF2FF 0%, #FFFFFF 50%, #EEF2FF 100%);
    padding: 15px 0px;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.modal__input {
    position: relative;
    width: 350px;
}

.modal__input label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;

}

.modal__input label img {
    width: 25px;
    height: 25px;
}

.modal__input input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 10px 8px 10px 33px;
    border-radius: 99px;
    background-color: #d2d2d266;
    font-size: 16px;
    color: #5d5d5d;
}

.modal__input input:focus {
    background-color: #c5c5c566;
}

.modal__input input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.modal__save-box span {
    font-weight: 500;
    color: #00adee;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

.modal__save-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal__save-box .modal__save {
    color: tomato;
    background-color: #e2e2e231;
    display: none;
}

.modal__save-box .modal__save:active {
    scale: .95;
}

.modal__save-box span:active {
    background-color: #d2d2d231;
}

.modal__header {
    margin-bottom: 20px;
}

.modal__history {
    margin-bottom: 20px;
}

.modal__history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;
    color: #0000007a;
}

.modal__history-header span {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4784313725);
    font-size: 16px;
    user-select: none;
}

.modal__history-header i {
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

.modal__history-header i:active {
    background-color: #d2d2d231;
}


.modal__history-cities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.modal__history-cities span {
    padding: 4px 10px;
    background-color: #efefef;
    border-radius: 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.modal__history-cities span:active {
    background-color: #c5c5c566;
}


.modal__popular-title {
    color: rgba(0, 0, 0, 0.4784313725);
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    user-select: none;
}

.modal__popular-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.modal__popular-inner span {
    padding: 4px 10px;
    background-color: #efefef;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    border: 1px solid transparent;
}

.modal__temperature {
    display: flex;
    //  flex-direction: column;
    gap: 10px;
    padding: 0px 0px 20px 20px;
    // max-width: 150px;
}

.modal__temperature>div {
    display: flex;
    gap: 1px;
    // cursor: pointer;
}

.modal__popular-inner span:active {
    background-color: #c5c5c566;
}

.reveal {
    left: 0%;
}

.lock {
    overflow: hidden;
}

@media (max-width: 768px) {
    .container__inner {
        flex-direction: column;
    }

    .container__right {
        flex-direction: column;
        flex: 1 1 100%;
    }
}


@media (max-width: 600px) {
    .weather__temp {
        padding: 25px 15px 25px 15px;
    }

    .weather__daily {
        padding: 25px 15px 25px 15px;
    }

    .weather__details {
        padding: 25px 15px 25px 15px;
    }

    .weather__tips {
        padding: 25px 15px 30px 15px;
    }

    .weather__header {
        padding: 25px 15px 25px 15px;
    }

    .weather__feels-rain {
        right: 15px;
        bottom: 25px;
    }
}


@media (max-width: 400px) {
    .weather__temp {
        padding: 25px 10px 25px 10px;
    }

    .weather__daily {
        padding: 25px 10px 25px 10px;
    }

    .weather__details {
        padding: 25px 10px 25px 10px;
    }

    .weather__tips {
        padding: 25px 10px 30px 10px;
    }

    .weather__header {
        padding: 25px 10px 25px 10px;
    }

    .weather__info {
        gap: 10px;
    }

    .weather__daily-item {
        padding: 0;
    }

    .container__inner {
        gap: 10px;
    }

    header {
        margin-bottom: 10px;
    }

    .container__left {
        gap: 10px;
    }

    .container__right {
        gap: 10px;
    }
}

@media (max-width: 350px) {
    .weather__daily-history {
        font-size: 17px;
    }

    .weather__overview {
        font-size: 10px;
    }
}






@media (any-hover: hover) {
    // .weather__search input:hover {
    //     border: 1px solid #00000032;
    // }

    .header__icon-cover:hover {
        background-color: #d2d2d231;
    }

    .weather__units button:hover {
        background-color: #d2d2d231;
    }

    .weather__daily-item:hover {
        background: rgba(59, 130, 246, 0.1);
        border: 1px solid rgba(59, 130, 246, 0.2);
    }

    .modal__save-box span:hover {
        background-color: #d2d2d231;
    }

    .modal__history-header i:hover {
        background-color: #d2d2d231;
    }

    // .modal__history-cities span:hover {
    //     background-color: #84848466;
    //     border: 1px solid #00adee;
    // }


    .modal__popular-inner span:hover,
    .modal__history-cities span:hover {
        background-color: #84848466;
        border: 1px solid #00adee;

    }
}