@use './reset';
@use '../utils/mixins';
@use '../utils/variables';
@use './dark';

body {
    font-family: variables.$montserrat;
    font-size: 16px;
    min-height: 100vh;
    background: variables.$body-gradient;
}

header {
    margin-bottom: 20px;
    padding-top: 10px;
}

.container {
    max-width: 1052px;
    padding: 0 10px;
    margin: 0 auto;
}

.weather__header {
    @include mixins.flex(flex, space-between, flex-start, null, null);
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: variables.$shadow;
    background: variables.$gradient;
}

.weather__header__icons {
    @include mixins.flex(flex, null, center, null, 5px);
}

.header__icon-cover {
    padding: 2px 5px;
    border-radius: 3px;
    transition: all .2s;
    -webkit-tap-highlight-color: #00000000;
    cursor: pointer;
    color: #6B7280;
}

/////////////////
.header__icon-cover.menu {
    position: relative;
}

.header__icon-cover.menu .settings {
    display: none;
    position: absolute;
    min-width: 100px;
    top: calc(100% + 4px);
    right: 0;
    color: #000;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    border-radius: 3px;
    background-color: #d2d2d2;
    z-index: 4;
}

.header__icon-cover.menu .settings li {
    @include mixins.flex(flex, null, center, null, 3px);
    padding: 3px 4px;
    border-radius: 3px;
}

.header__icon-cover.menu .settings>li>button {
    font-family: variables.$montserrat;
    background-color: transparent;
    text-transform: uppercase;
    margin-left: auto;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    color: #1E293B;

}

.header__icon-cover.menu .settings li:not(:last-child) {
    margin-bottom: 5px;
    user-select: none;
}

.header__icon-cover.menu .settings li i {
    padding-top: 1px;
    font-size: 8px;
    color: #1E293B;
}

.header__icon-cover.menu .settings li:hover {
    background-color: #fff;
}

.header__icon-cover.menu .settings>li:nth-child(2) {
    position: relative;
    user-select: none;
}

.header__icon-cover.menu .settings>li:nth-child(2) ul {
    display: none;
    position: absolute;
    right: calc(100% + 7px);
    top: 0;
    color: #000;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    border-radius: 3px;
    background-color: #d2d2d2;
    width: 80px;
}

.header__icon-cover.menu .settings>li:nth-child(2) ul::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 7px;
    right: -7px;
    top: 0;
    background-color: transparent;
}

.header__icon-cover.menu .settings>li:nth-child(2) ul li {
    display: flex;
    align-items: center;
    //cursor: pointer;
}


.header__icon-cover.menu .settings>li:nth-child(2) ul>li button {
    margin-right: auto;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
    font-family: variables.$montserrat;
    cursor: pointer;
    color: #1E293B;
}

.header__icon-cover.menu .settings li:nth-child(2):active>.submenu {
    // 2 submenu
    display: block;
}


///////////


.header__icon-cover {
    padding: 2px 10px;
}



.header__icon-cover:active {
    background-color: #d2d2d231;
}


.weather__header-top>h1 {
    font-weight: 700;
    font-size: 23px;
    color: #1E293B;
}

.weather__temp {
    @include mixins.flex(flex, space-between, center, null, null);
    position: relative;
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: variables.$shadow;
    background: variables.$gradient;
}

.weather__feels-rain {
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
}

.weather__feels-rain img {
    width: 20px;
    height: auto;
    margin-right: 3px;
    margin-top: -2px;
}

.weather__feels-rain span {
    font-size: 11.5px;
    font-weight: 500;
    color: #64748B
}

.weather__feels-rain span:nth-of-type(1) {
    margin-right: 3px;
}

.weather__feels-rain span:nth-of-type(2) {
    margin-right: 3px;
    font-weight: 600;
}

.weather__city {
    @include mixins.flex(flex, null, center, null, 8px);
    margin-bottom: 16px;
}

.weather__city img {
    width: 14px;
    height: auto;
}

.weather__city h2 {
    font-weight: 700;
    font-size: 30px;
    color: #1E293B;
}

.weather__forecast {
    display: flex;
    gap: 2px;
    margin-bottom: 5px;
}


.weather__loader-udating,
.weather__loader-done {
    @include mixins.flex(flex, null, center, null, 1px);
}



.weather__loader-done {
    display: none;
}

.weather__loader.done .weather__loader-done {
    display: flex;
}

.weather__loader.done .weather__loader-udating {
    display: none;
}

.weather__loader {
    display: none;
    padding-top: 8px;
}


.weather__loader-udating img {
    padding: 2px 0px;
    width: 10px;
    height: 10px;
}

.weather__loader-done img {
    padding: 2px 0px;
    width: 10px;
    height: 10px;
}

.weather__loader-udating img {
    animation: shakeX 1.2s infinite;
}


@keyframes shakeX {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(1px);
    }

    75% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0);
    }
}

.weather__loader span {
    font-size: 10px;
    font-weight: 300;
    color: #1E293B;
}

.weather__forecast>span {
    color: #F97316;
    font-size: 32px;
    font-weight: 900;
    margin-top: 26px;
}

.weather__forecast-temp {
    @include mixins.flex(flex, null, null, column, 2px);
    min-height: 96px;
}

.weather__forecast-temp h2 {
    font-size: 66.5px;
    line-height: 72px;
    color: #F97316;
    font-weight: 500;
    margin-top: auto;
}

.weather__units button:active {
    background-color: #d2d2d231;
}

.weather__units button.active {
    background-color: #d2d2d231;
}

.weather__info {
    display: flex;
    // justify-content: space-between;
    gap: 5px;
}

.weather__sky {
    padding-top: 50px;
    font-size: 19px;
    color: #475569;
    font-weight: 500;
}

.weather__feels {
    @include mixins.flex(flex, null, flex-start, null, 5px);
}

.weather__feels img {
    width: 5.5px;
    height: auto;
    padding-top: 2.5px;
}

.weather__feels span {
    font-size: 13.5px;
    font-weight: 500;
    color: #64748B;
}

.weather__status {
    @include mixins.flex(flex, null, center, column, 1px);
}

.weather__status>img {
    width: 67px;
    height: auto;
}

.weather__status time {
    font-size: 11.5px;
    color: #475569;
}

.weather__daily {
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: variables.$shadow;
    background: variables.$gradient;
}

.weather__daily-header {
    @include mixins.flex(flex, space-between, center, null, null);
    padding-bottom: 25px;
}

.weather__daily-history {
    font-weight: 700;
    font-size: 20px;
    color: #1E293B;
}

.weather__overview {
    font-size: 12px;
    color: #1D4ED8;
    padding: 4px 12px;
    border-radius: 99px;
    background-color: #DBEAFE;
    font-weight: 400;
    font-family: variables.$inter;
}

.weather__daily-item {
    @include mixins.flex(flex, space-between, center, null, null);
    font-family: variables.$inter;
    min-height: 62px;
    cursor: pointer;
    padding: 0px 5px;
    border-radius: 16px;
    border: 1px solid transparent;
    transition: background-color .1s ease-in-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.weather__daily-item:active {
    background: rgba(59, 130, 246, 0.1);
    border: 1px solid rgba(59, 130, 246, 0.2);
}

.active {
    background: rgba(59, 130, 246, 0.1);
    border: 1px solid rgba(59, 130, 246, 0.2);
}

.weather__daily-item:not(:last-child) {
    margin-bottom: 4px;
}

.weather__daily-day {
    font-weight: 700;
    font-size: 15.5px;
    color: #475569;
    text-transform: capitalize;
    min-width: 60px;
    text-align: left;
}

.weather__daily-status {
    @include mixins.flex(flex, left, center, null, 12px);
    font-weight: 400;
    font-size: 11.5px;
    color: #64748B;
    width: 240px;
    max-width: 100%;
}

.weather__daily-status>img {
    width: 24px;
    height: auto;
}

.weather__daily-temp {
    @include mixins.flex(flex, left, center, null, null);
    min-width: 91px;
    white-space: nowrap;
}

.weather__temp-direction {
    margin-right: 4px;
}

.weather__temp-degree {
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #1E293B;
}

.weather__temp-feels {
    font-weight: 400;
    font-size: 16px;
    color: #64748B;
}


.weather__details {
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: variables.$shadow;
    background: variables.$gradient;
    font-family: variables.$inter;
}


.weather__details-header {
    @include mixins.flex(flex, null, center, null, 10px);
    padding-bottom: 25px;
}

.weather__details-header img {
    width: 17px;
    height: auto;
}

.weather__details-header h3 {
    font-weight: 700;
    font-size: 20px;
    color: #1E293B;
    text-transform: capitalize;
}

.weather__details-item {
    @include mixins.flex(flex, space-between, center, null, null);
    position: relative;
    padding-bottom: 17px;
    margin-bottom: 29px;
}

.weather__details-item.wind .details__item-cover {
    gap: 8px;
}

.weather__details-item.humidity .details__item-cover {
    gap: 13px;
    padding-left: 5px;
}

.weather__details-item.pressure {
    padding-left: 3px;
}


.weather__details-item:last-child {
    margin-bottom: 0px;
}

.weather__details-item .details__decore {
    // --humidity-width: #{variables.$humidity};
    // --wind-width: #{variables.$wind};
    // --pressure-width: #{variables.$pressure};
    --humidity-width: 0%;
    --wind-width: 0%;
    --pressure-width: 0%;

    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 8px;
    border-radius: 99px;
    background-color: #E5E7EB;
}



.weather__details-item .details__decore::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: tomato;
    border-radius: 99px;
}





.weather__details-item.humidity .details__decore::after {
    width: var(--humidity-width, 0%);
}

.weather__details-item.wind .details__decore::after {
    width: var(--wind-width, 0%);
}

.weather__details-item.pressure .details__decore::after {
    width: var(--pressure-width, 0%);
}



.details__item-cover {
    @include mixins.flex(flex, null, center, null, 15px);

}

// .details__item-cover svg {
//     width: 36px;
//     height: auto;
// }

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
    }

    100% {
        transform: rotate(360deg);
        transform-origin: center;
    }
}

.weather__details-item.wind svg #wind__speed {
    animation: rotate360 0s linear infinite;
    transform-box: fill-box;
    // transform-origin: 1.237rem 0.992rem !important;
    transform-origin: 19.792px 15.872px !important;
    transition: animation 0.3s ease-in-out;
    // transform-origin: center center;
    // width: 36px;
    // height: 36px;
}

.weather__details-item.pressure svg #presure__speed {
    transform-box: fill-box;
    transform: rotate(-90deg);
    transform-origin: 7.8px 28.0px !important;
    transition: animation 0.3s ease-in-out;
}

.weather__details-item.humidity svg #humidity__speed {
    transform-box: fill-box;
    transform: rotate(-89deg);
    transform-origin: 12px 50px !important;
    transition: animation 0.3s ease-in-out;
}


.details__item-cover span {
    font-weight: 400;
    font-size: 15px;
    color: #475569;
}

.weather__details-item .details {
    @include mixins.flex(flex, null, flex-end, column, 12px);
}

.weather__details-item .details span:nth-child(1) {
    font-weight: 700;
    font-size: 17px;
    color: #1E293B;
}

.weather__details-item .details .status {
    font-weight: 400;
    font-size: 11.5px;
    color: #22C55E;
    letter-spacing: .04rem;
}


.weather__tips {
    font-family: variables.$inter;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: variables.$shadow;
    background: variables.$gradient;
}

.weather__tips-title {
    font-weight: 700;
    font-size: 20px;
    color: #1E293B;
    padding-bottom: 20px;
}

.weather__tips-body {
    @include mixins.flex(flex, center, center, column, 10px);
}

.weather__tips-body>img {
    width: 40px;
    height: auto;
}

.weather__tips-body p {
    font-weight: 400;
    font-size: 15px;
    color: #475569;
    text-align: center;
}

main {
    padding-bottom: 10px;
}

.container__inner {
    display: flex;
    gap: 20px;
}

.container__left {
    @include mixins.flex(flex, null, null, column, 20px);
    flex: 1 1 100%;
}

.container__right {
    @include mixins.flex(flex, null, null, column, 20px);
    flex: 1 0 280px;
}


.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.modal {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: variables.$body-gradient;
    padding: 15px 0px;
}

.modal__header {
    @include mixins.flex(flex, space-between, center, null, 20px);
}

.modal__input {
    position: relative;
    width: 350px;
}

.modal__input label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;

}

.modal__input label img {
    width: 25px;
    height: 25px;
}

.modal__input input {
    font-family: variables.$montserrat;
    width: 100%;
    padding: 10px 8px 10px 33px;
    border-radius: 99px;
    background-color: #d2d2d266;
    font-size: 16px;
    color: #5d5d5d;
}

.modal__input input:focus {
    background-color: #c5c5c566;
}

.modal__input input::placeholder {
    font-family: variables.$montserrat;
    font-size: 16px;
}

.modal__save-box button {
    font-family: variables.$montserrat;
    font-weight: 500;
    color: #00adee;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    background-color: #e2e2e231;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

// .modal__cancel {
//     background-color: #ececec31;
// }

.modal__save-box {
    @include mixins.flex(flex, null, center, null, 20px);
}

.modal__save-box .modal__save {
    color: tomato;
    background-color: #e2e2e231;
    display: none;
}

.modal__save-box .modal__save:active {
    scale: .95;
}

.modal__save-box button:active {
    background-color: #d2d2d231;
}

.modal__header {
    margin-bottom: 20px;
}

.modal__history {
    margin-bottom: 20px;
}

.modal__history-header {
    @include mixins.flex(flex, space-between, center, null, null);
    padding: 0px 20px 10px 20px;
    color: #0000007a;
}

.modal__history-header span {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4784313725);
    font-size: 16px;
    user-select: none;
}

.modal__history-header button {
    padding: 6px 7px 4px 7px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: background-color .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    color: #0000007a;
}

// .modal__history-header button:active {
//     padding: 5px;
//     background-color: #d2d2d231;
// }


.modal__history-cities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.modal__history-cities span {
    padding: 4px 10px;
    background-color: #efefef;
    border-radius: 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.modal__history-cities span:active {
    background-color: #c5c5c566;
}


.modal__popular-title {
    color: rgba(0, 0, 0, 0.4784313725);
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    user-select: none;
}

.modal__popular-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.modal__popular-inner span {
    padding: 4px 10px;
    background-color: #efefef;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    border: 1px solid transparent;
}

.modal__temperature {
    display: flex;
    gap: 10px;
    padding: 0px 0px 20px 20px;
}

.modal__temperature>div {
    display: flex;
    gap: 1px;
}

.modal__popular-inner span:active {
    background-color: #c5c5c566;
}

.reveal {
    left: 0%;
}

.lock {
    overflow: hidden;
}

.modal__popular-notfound {
    width: 100%;
    text-align: center;
    padding-top: 40px;

    color: rgba(0, 0, 0, 0.4784313725);
    font-weight: 500;
    font-size: 20px;
}


@media (max-width: 768px) {
    .container__inner {
        flex-direction: column;
    }

    .container__right {
        flex-direction: column;
        flex: 1 1 100%;
    }
}


@media (max-width: 600px) {
    .weather__temp {
        padding: 25px 15px 25px 15px;
    }

    .weather__daily {
        padding: 25px 15px 25px 15px;
    }

    .weather__details {
        padding: 25px 15px 25px 15px;
    }

    .weather__tips {
        padding: 25px 15px 30px 15px;
    }

    .weather__header {
        padding: 25px 15px 25px 15px;
    }

    .weather__feels-rain {
        right: 15px;
        bottom: 25px;
    }
}


@media (max-width: 400px) {
    .weather__temp {
        padding: 25px 10px 25px 10px;
    }

    .weather__daily {
        padding: 25px 10px 25px 10px;
    }

    .weather__details {
        padding: 25px 10px 25px 10px;
    }

    .weather__tips {
        padding: 25px 10px 30px 10px;
    }

    .weather__header {
        padding: 25px 10px 25px 10px;
    }

    .weather__info {
        gap: 10px;
    }

    .weather__daily-item {
        padding: 0;
    }

    .container__inner {
        gap: 10px;
    }

    header {
        margin-bottom: 10px;
    }

    .container__left {
        gap: 10px;
    }

    .container__right {
        gap: 10px;
    }

    .weather__sky {
        width: min-content;
    }
}



@media (max-width: 350px) {
    .weather__daily-history {
        font-size: 17px;
    }

    .weather__overview {
        font-size: 10px;
    }


}



@media (any-hover: hover) {
    .header__icon-cover:hover {
        background-color: #d2d2d231;
    }

    .weather__units button:hover {
        background-color: #d2d2d231;
    }

    .weather__daily-item:hover {
        background: rgba(59, 130, 246, 0.1);
        border: 1px solid rgba(59, 130, 246, 0.2);
    }

    .modal__save-box button:hover {
        background-color: #d2d2d231;
    }

    .modal__history-header button:hover {
        background-color: #d2d2d231;
    }

    .modal__popular-inner span:hover,
    .modal__history-cities span:hover {
        background-color: #84848466;
        border: 1px solid #00adee;

    }
}


.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}


header .loader__cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000c9;
    z-index: 10;
}

header .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.err__message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: #000;
}

.err__message span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: tomato;
    font-family: variables.$montserrat;
    font-weight: 500;
    text-transform: uppercase;
}



// body::after {
//     content: '';
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background: linear-gradient(to right, #49da837e, #5ba0e986);
//      filter: blur(100px);
// }
// body::after {
//     top: var(--decore-top, 0px); 
//     left: var(--decore-left, 0px); 
// }
